{% extends 'wfit/base.html' %}
{% block content %}


<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="card">
        <div class="card-header d-flex justify-content-around">
          <div>
            <h6>{{date_string}}</h6>
          </div>
          <div>
            <h6>{{board_name}}</h6>
          </div>
          <div>
            <h6>{{job_card_list}}</h6>
          </div>


        </div>

        <div class="card-body text-center">
          <h5><b>{{job_name}}</b></h5>
          <hr>
          <form method="post">
            {% csrf_token %}
            <label for="job_tracker_id">job_tracker_id</label><br>
            <input type="number" id="job_tracker_id" name="job_tracker_id" value="{{job_tracker_id}}" readonly><br>
            <hr>
            <h6>Time Invested:</h6>
            <input type="number" id="hours_from_user" name="hours_from_user" placeholder="Enter hours"><br><br>
            <input type="number" id="minutes_from_user" name="minutes_from_user" placeholder="Enter minutes"><br><br>
            <input class="btn btn-success" type="submit" value="Submit And Next">
          </form>
        </div>
        <div class="card-footer text-muted d-flex justify-content-between">
          <div>

            <a href="{% url 'pause-journal' pk=job_tracker_id %}" class="btn btn-warning" title="Pause Journal">Pause
              Journal</a>
          </div>
          <div>
            <a href="{{next_journal_url}}" class="btn btn-primary" title="Pause Journal">
              Next</a>
          </div>
          <div>
            <a href="{% url 'never-journal' pk=job_tracker_id %}" class="btn btn-danger" title="Pause Journal">Never
              Journal</a>
          </div>

        </div>

      </div>
    </div>
  </div>
</div>

{% endblock %}